<%= label_tag t "lessons"%>
<%= form_for words_path, method: :get, remote: true do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= select_tag "lesson_id", options_from_collection_for_select(@lessons,
        :id, :name, params[:lesson_id]), include_blank: t("all"),
        class: "form-control" %>	
    </div>
    <div class="col-md-5">
      <%= text_field_tag :search, params[:search], class:"form-control" %>	
    </div>
    <div class="col-md-3">
      <%= submit_tag t("検索"), class: "btn btn-primary" %>	
    </div>
  </div>
  <div class="row">
    <div class="tm-radio col-md-5">
      <% [Settings.learned, Settings.not_learned, Settings.all].each do |item| %>
        <%= label_tag item, class: "radio-inline spacing-bottom" do %>
          <%= radio_button_tag :filter_state, item,
            checked = (params[:filter_state] == item || params[:filter_state].blank?),
            class: "form-control" %> 
          <%= item.titleize %>
        <% end %>
      <% end %>
    </div>
  </div>  
<% end %> 